HTML, body, main{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: black;

}

#container{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
       display: flex;
    justify-content: center;
    align-items: flex-end;
}

#field{
 border: 10px solid white;
    width: 70%;
    height: 40%;
    margin-bottom: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#soul{
    position: absolute;
    background-image: url("./imgs/soul.png");
    background-size: cover;
    background-repeat: no-repeat;
    width: 50px;
    height: 50px;
}

